.document{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-style:normal;
    font-variant: normal;
    font-size: 14px;
    padding:20mm;
    background-color:#ffffff;
    width:210mm;
    span.line{
        display:block
    }

    .summary{
        font-weight: bold;
    }
    .header{
        float:left;
        width:100%;
        img{
            width: 70%;
                margin-right: -15px;
        }
        .date{
            margin-top:2em;
        }
    }
    .left{
        float:left;
    }
    .right{
        float:right;
        text-align:right;
    }
    .body{
        clear:both;
        p{
            text-align: justify;
            margin-bottom:5mm;
        }
    }

    h4{
        font-style:italic;
        font-size:14px;
    }
}