@import "doc";

html, body{
    padding:0;
    margin:0;
}

$padding: 50px;

.page{
    padding:$padding;
    width: 595px - $padding - $padding;
    height: 842px - $padding - $padding;
    font-size: 11px;
}