@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$input-border-width: 2px;

// Core CSS
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

@import "reactWidgets";

html, body{
    margin:0;
    padding:0;
}

.columns {
    form.form-controls {
        & > .fieldset {
            & > div{
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                 & > .fieldset {
                    -webkit-column-break-inside: avoid;
                    page-break-inside: avoid;
                    break-inside: avoid;
                    & > * {
                        display: inline-block;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.main{

    .has-preview {
        .form-controls{
            @extend .col-md-5;
        }
        .preview{
            text-align: center;
            @extend .col-md-7;
            canvas{
                width:100%;
                max-width:1000px;
                border: 1px solid #cdcdcd;
            }
        }
    }


    .fieldset{
       position: relative;
    }

    padding-top:2em;
    background-color:#fff;
    font-size:12px;
    input[type="text"], select{
        @extend .form-control;
    }
    input[type="text"], select, button{
        font-size:12px;
    }
    button .glyphicon{
        top: 3px;
    }

    form {
        p {
            text-align:center;
            .btn{
                margin:4px;
            }
        }
        hr{
            clear: both;
            width: 50%;
        }
        .list-controls{
            text-align: left;
        }
        .form-group{
            margin-bottom:4px;
            margin-left:0;
            margin-right:0;
            text-align: left;
            clear: left;
           &.has-error.has-feedback {
                text-align: center;
            }
        }

        .description{
            padding-left:12px;
        }

        .included-in{
            position: absolute;
            width: 200px;
            z-index: 100;
            background-color: white;
            border: 1px solid #ccc;
            padding: 12px;
            text-align: center;
            border-radius: 4px;
            left: 15px;
            top: 36px;
            display:none;
        }
        label:hover ~ div{
            & > .included-in{
                display: block;
            }
        }
        legend~ .included-in{
            left:40%;
        }

        legend:hover ~ .included-in{
            display: block;
        }


        label{
            padding-right:0;
        }
        legend {
            margin-bottom:4px;
        }

        & > .fieldset {
            text-align: center;
            & > div{
                & > .fieldset {
                    & > * {
                        //display: inline-block;
                        //width: 100%;
                    }
                }
            }
            &  > .fieldset, & > .form-group {
                //@extend .col-md-6;
                //width:50%
            }
            &  .fieldset {

                legend {
                    border:none;
                    font-size: 1em;
                    font-style: italic;
                    margin-top: 10px;
                    font-weight: bold;

                }
                & .fieldset {
                    legend {
                        text-align: center;
                        font-size:1em;
                        margin-top:1em;
                        margin-bottom:0.5em;
                        font-style:italic;
                        font-weight: bold;
                    }
                }
            }
             & > div > .fieldset > legend{
                font-size: 1.4em;
                 .has-error{
                    font-size:0.8em
                 }
            }
             & > div > .fieldset{
                background-color:#efefef;
                margin-top: 30px;
                margin-bottom: 30px;
                padding: 16px;
                border-radius: 8px;
            }
        }

        .add-item{
            padding-bottom:12px;
        }
        .read-only{
            margin-bottom: 0;
            padding-top: 7px;
        }
    }
}
