<div style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; color: rgb(0, 0, 0); font-size: 14px; font-family: Calibri, sans-serif;">
    <div>
        <div>
            <div>Good {{timeOfDay}} {{#ifCompany}}{{recipient.contact}}{{else}}{{joinAnd recipient.individuals prop="firstName"}}{{/ifCompany}}</div>
        </div>
    </div>
    <div class="OLK_SRC_BODY_SECTION">
            <div>
            <div>
                <div><br>
                </div>
                <div>Please find <b>attached</b>&nbsp;our letter of engagement for the above matter, for your review and consideration. &nbsp;</div>
            </div>
        </div>
    </div>
    <div><br/>
    </div>
    <div class="OLK_SRC_BODY_SECTION">
       <div>
            <div>
                <div>Once we receive your confirmation that our terms are accepted, our solicitor, Kieran Boyle, will be in touch directly to discuss your matter. &nbsp;If you have an urgent enquiry in the meantime, please contact Kieran by email, kieran@evolutionlawyers.nz, or
                 on his mobile, 027 715 0587. &nbsp;</div>
             </div>
         </div>
     </div>
     <div class="OLK_SRC_BODY_SECTION">
        <div>
            <div>
                <div><br/>
                </div>
                <div>Kind regards</div>
                <div><br/>
                </div>
                <div>
                    <div id="">
                        <div>
                            <div>
                                <div><span style="font-size: 15px;"><b>Sophie Gagnon</b></span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px; background-color: rgb(255, 255, 255);">Practice Manager |&nbsp;</span><span style="font-size: 13px; background-color: rgb(255, 255, 255);">M: +64 21 024 39766</span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px; background-color: rgb(255, 255, 255);"><br>
                                </span></div>
                                <div style="font-size: 14px;"><span style="background-color: rgb(255, 255, 255); font-size: 15px;"><b>Evolution Lawyers</b></span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px; background-color: rgb(255, 255, 255);">P: PO Box 40046, Glenfield, Auckland, 0747</span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px; background-color: rgb(255, 254, 254);">T: 0800 ELAWYERS (0800 352 993)</span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px; background-color: rgb(255, 255, 255);">F: +64 9 929 3332</span></div>
                                <div style="font-size: 14px;"><span style="font-size: 13px;">W:&nbsp;</span><a href="http://www.evolutionlawyers.nz/" style="font-size: 13px;">www.evolutionlawyers.nz</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="OLK_SRC_BODY_SECTION">
                <div xmlns:ndtext="http://netdocuments.com/ndOrg/TextConverter">
                    <div style="background-color: white; margin: 0px;">
                        <p style="font-family: Arial, sans-serif; font-size: 12px;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
