<div class="document">
<div class="page">
<div class="header">
     <h1>{{#ifCompany}}
       COMPANY
    {{else}}
    PRIVATE INDIVIDUAL]
    {{/ifCompany}}
CLIENT AUTHORITY AND INSTRUCTION FOR AN ELECTRONIC TRANSACTION
    </h1>
    <h5>(This form is approved by the New Zealand Law Society and Registrar-General of Land)</h5>


    <ol>
        <li>
            <table>
                <tbody>
                    <tr><td>TO LAW FIRM:</td><td>EVOLUTION LAWYERS LIMITED</td></tr>
                </tbody>
            </table>
        </li>

        <li>
            <table>
                <tbody>

                </tbody>
            </table>
        </li>

    </ol>

</div>
</div>
</div>