<div class="document">
<div class="page">
<div class="header">

    <div class="left">
    <div class="date">
        {{todaysDate}}
    </div>
    <br/>
    <br/>
     {{#ifCompany}}
        <span class="line">{{recipient.companyName}}</span>
    {{else}}
        {{#each recipient.individuals}}
            <span class="line">{{firstName}} {{lastName}}</span>
        {{/each}}
    {{/ifCompany}}
     {{#if recipient.address}}
     <span class="line">{{recipient.address.street}}</span>
     <span class="line">{{#if recipient.address.suburb}} {{recipient.address.suburb}},{{/if}} {{recipient.address.postcode}}</span>
     <span class="line">{{recipient.address.city}}</span>
     {{#if isForeign}}<span class="line">{{address.country}}</span>{{/if}}
     {{/if}}
     <br/>
     </div>

     <div class="right">
      {{#if path}}
        <img src="{{path}}/images/evolution.png" class="logo"/>
        {{else}}
        <img src="/images/evolution.png" class="logo"/>
        {{/if}}

        <span class="line">   <br/>By email: {{recipient.email}}</span>
        {{#if matter.actionstepId}}
            <span class="line">ID: {{matter.actionstepId}}</span>
        {{/if}}
     </div>
</div>
    <p>
    {{#ifCompany}}
        For: {{companyContact}}
    {{else}}
        Dear {{joinList recipient.individuals prop="firstName"}}
    {{/ifCompany}}
    </p>

    <p class="summary">
        Letter of Engagement -
        {{capitalize (matterTypeString matter.matterType)}} of
        {{joinList matter.assets prop="address"}}
        {{#multiple matter.assets}}
            Properties ("<strong>the Properties</strong>").
        {{else}}
            Property ("<strong>the Property</strong>").
        {{/multiple}}
    </p>

    <p>
    Thank you for asking Evolution Lawyers Limited (<strong>Evolution</strong>) to act for
    {{#ifCompany}}{{recipient.companyName}} (<strong>{{recipient.companyNameShort}}</strong>){{else}}you{{/ifCompany}}.
    We understand that you would like us to assist
        {{secondPersonPronoun this}}
    with the
        {{matterTypeString matter.matterType}}
    of the
    {{#multiple matter.assets}}
        Properties.
    {{else}}
        Property.
    {{/multiple}}
    </p>


    <p>
     We would be happy to act for
     {{secondPersonPronoun this}}
     in this matter.
     Please find <strong>attached</strong> a copy of our standard terms of engagement.  Any service we provide to
     {{secondPersonPronoun this}}
     will be subject to those standard terms, as varied or added to by this letter of engagement (together, the <strong>Terms</strong>).
    </p>

    <p>
    Please confirm {{#ifCompany}}on behalf of {{recipient.companyNameShort}} {{/ifCompany}}
    that you agree with the Terms by return email.  Evolution can commence work on the matter as soon as we receive that confirmation.
    </p>

    <h4>Your Matter</h4>
    <p>
    I will have overall responsibility for the matter.  I will be assisted by other lawyers as and when required.
    </p>

    <p>
    The fees for this matter will be charged and billed in accordance with the Terms.  Our standard fee estimate for a property
    {{matterTypeString matter.matterType}}
    is
    {{mapper "price" matter.matterType}}
     plus GST and disbursements.
     This is, however, an indication only, and the fee may increase if additional attendances are required.
    </p>


    <p>
    Disbursements for a matter of this kind typically include Land Information New Zealand registration charges, which are $80 per instrument (for example discharge of a mortgage or transfer of a title), title searches, which are $5 per search, and our general office disbursement fee of $25.
    </p>
    <p>
    We will endeavour to inform you in advance if it appears as though our fee will exceed the estimate.
    </p>

    <h4>Disclosure of Interests</h4>
    <p>{{#if disclosure}}
    {{disclosure}} However, we
    {{else}}
    We
    {{/if}}
    do not believe there is any conflict of interest that would prohibit Evolution from acting for
    {{secondPersonPronoun this}}
    in this matter.  </p>
    <div>
        <p>
        We look forward to {{secondPersonAdjective this}} acceptance of our Terms.  If you have any queries about our engagement, please contact me.
        </p>

        <p>
        Yours faithfully<br/>
        <strong>Evolution Lawyers</strong>
        </p>
        <br/>
        <br/>
        <br/>
        <br/>
      <span class="line">{{sender}}</span>
      <span class="line">{{mapper "sender" sender "title"}}</span>
      <span class="line phone">{{mapper "sender" sender "phone"}}</span>
      <span class="line email">{{mapper "sender" sender "email"}}</span>
  </div>

</div>
</div>